
.title {
	line-height: 25px !important;
	font-family: "Century Gothic", "Arial Black", Arial, serif;
	color: #036faf !important;
	font-weight: bold !important;
	font-size: 1.333em !important; /* 16px */
	margin-bottom: 15px;
	margin-top: 15px;
	border-bottom: none;
}

form#reservation {
	/*width: 100%;*/
}

form#reservation legend {
	width: auto;
	float: none;
	font-size: 1.5rem;
	padding: 0;
	margin-bottom: .5rem;
	line-height: inherit;
	position: initial;

}

form#reservation div fieldset {
	background: rgba(255, 245, 238, 0.8);
	padding: 0 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #009;
	margin: 10px 0;
	width: 100% !important;
}

form#reservation div fieldset div div label {
	line-height: 30px;
}

form#reservation input#marque, form#reservation input#ville, form#reservation input#pays, form#reservation input#destination_id {
	position: absolute;
	left: -9999px;
	top: 0;
	z-index: -1;
}
/*
** number intl
 */

form#reservation .iti {
	position: relative;
	display: inline-block;
}

form#reservation .iti * {
	box-sizing: border-box;
}

form#reservation .iti__hide {
	display: none;
}
form#reservation .iti__v-hide {
	visibility: hidden;
}
form#reservation .iti__a11y-text {
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	position: absolute;
}
form#reservation .iti input.iti__tel-input,
form#reservation .iti input.iti__tel-input[type=text],
form#reservation .iti input.iti__tel-input[type=tel] {
	position: relative;
	z-index: 0;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-right: var(--iti-right-hand-selected-country-padding);
	margin-right: 0;
}
form#reservation .iti__country-container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	padding: var(--iti-border-width);
}
form#reservation .iti__selected-country {
	z-index: 1;
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	border-radius: 0;
	font-weight: inherit;
	line-height: inherit;
	text-decoration: none;
}
form#reservation .iti__selected-country-primary {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 var(--iti-arrow-padding) 0 var(--iti-spacer-horizontal);
}
form#reservation .iti__arrow {
	margin-left: var(--iti-arrow-padding);
	width: 0;
	height: 0;
	border-left: var(--iti-triangle-border) solid transparent;
	border-right: var(--iti-triangle-border) solid transparent;
	border-top: var(--iti-arrow-height) solid var(--iti-arrow-color);
}
[dir=rtl] .iti__arrow {
	margin-right: var(--iti-arrow-padding);
	margin-left: 0;
}
form#reservation .iti__arrow--up {
	border-top: none;
	border-bottom: var(--iti-arrow-height) solid var(--iti-arrow-color);
}
form#reservation .iti__dropdown-content {
	border-radius: 3px;
	background-color: white;
}
.iti--inline-dropdown .iti__dropdown-content {
	position: absolute;
	z-index: 2;
	margin-top: 3px;
	margin-left: calc(var(--iti-border-width) * -1);
	border: var(--iti-border-width) solid var(--iti-border-gray);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
form#reservation .iti__search-input {
	width: 100%;
	border-width: 0;
	border-radius: 3px;
	padding: 9px 12px;
}
.iti__search-input + .iti__country-list {
	border-top: 1px solid var(--iti-border-gray);
}
form#reservation .iti__country-list {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.iti--inline-dropdown .iti__country-list {
	max-height: 185px;
}
.iti--flexible-dropdown-width .iti__country-list {
	white-space: nowrap;
}
@media (max-width: 500px) {
	.iti--flexible-dropdown-width .iti__country-list {
		white-space: normal;
	}
}
form#reservation .iti__flag-box {
	display: inline-block;
	width: var(--iti-flag-width);
}
form#reservation .iti__country {
	display: flex;
	align-items: center;
	padding: 8px var(--iti-spacer-horizontal);
	outline: none;
}
.iti__dial-code {
	color: var(--iti-text-gray);
}
.iti__country.iti__highlight {
	background-color: var(--iti-hover-color);
}
.iti__flag-box, .iti__country-name {
	margin-right: var(--iti-spacer-horizontal);
}
[dir=rtl] .iti__flag-box, [dir=rtl] .iti__country-name {
	margin-right: 0;
	margin-left: var(--iti-spacer-horizontal);
}
.iti--allow-dropdown input.iti__tel-input,
.iti--allow-dropdown input.iti__tel-input[type=text],
.iti--allow-dropdown input.iti__tel-input[type=tel] {
	padding-right: var(--iti-input-padding);
	padding-left: var(--iti-selected-country-arrow-padding);
	margin-left: 0;
}
[dir=rtl] .iti--allow-dropdown input.iti__tel-input,
[dir=rtl] .iti--allow-dropdown input.iti__tel-input[type=text],
[dir=rtl] .iti--allow-dropdown input.iti__tel-input[type=tel] {
	padding-right: var(--iti-selected-country-arrow-padding);
	padding-left: var(--iti-input-padding);
	margin-right: 0;
}
.iti--allow-dropdown .iti__country-container {
	right: auto;
	left: 0;
}
[dir=rtl] .iti--allow-dropdown .iti__country-container {
	right: 0;
	left: auto;
}
.iti--allow-dropdown .iti__country-container:not(:has(+ input[disabled])):not(:has(+ input[readonly])):hover, .iti--allow-dropdown .iti__country-container:not(:has(+ input[disabled])):not(:has(+ input[readonly])):hover button {
	cursor: pointer;
}
.iti--allow-dropdown .iti__country-container:not(:has(+ input[disabled])):not(:has(+ input[readonly])) .iti__selected-country-primary:hover,
.iti--allow-dropdown .iti__country-container:not(:has(+ input[disabled])):not(:has(+ input[readonly])) .iti__selected-country:has(+ .iti__dropdown-content:hover) .iti__selected-country-primary {
	background-color: var(--iti-hover-color);
}
.iti .iti__selected-dial-code {
	margin-left: 4px;
}
[dir=rtl] .iti .iti__selected-dial-code {
	margin-left: 0;
	margin-right: 4px;
}
.iti--container {
	position: fixed;
	top: -1000px;
	left: -1000px;
	z-index: 1060;
	padding: var(--iti-border-width);
}
.iti--container:hover {
	cursor: pointer;
}

.iti--fullscreen-popup.iti--container {
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	padding: var(--iti-mobile-popup-margin);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.iti--fullscreen-popup .iti__dropdown-content {
	display: flex;
	flex-direction: column;
	max-height: 100%;
	position: relative;
}
.iti--fullscreen-popup .iti__country {
	padding: 10px 10px;
	line-height: 1.5em;
}

.iti__flag {
	--iti-flag-offset: 0px;
	--iti-flag-width: 20px;
	--iti-flag-height: 14px;
	height: var(--iti-flag-height);
	width: var(--iti-flag-width);
	box-shadow: 0px 0px 1px 0px #888;
	background-image: var(--iti-path-flags-1x);
	background-repeat: no-repeat;
	background-position: var(--iti-flag-offset) 0;
	background-size: var(--iti-flag-sprite-width) var(--iti-flag-sprite-height);
}

.iti__globe {
	background-image: var(--iti-path-globe-1x);
	background-size: contain;
	background-position: right;
	box-shadow: none;
	height: 19px;
}

@media (min-resolution: 2x) {
	.iti__flag {
		background-image: var(--iti-path-flags-2x);
	}
	.iti__globe {
		background-image: var(--iti-path-globe-2x);
	}
}


/*
** car type
*/

form#reservation div.type-id {
	display: flex;
	gap: 10px;
	overflow: hidden;
}

form#reservation div.type-id div.radio {
	text-align: center;
}

form#reservation div.radio input[type=radio] {
	position: absolute;
	display: none;
}

form#reservation div.type-id label:hover {
	cursor: pointer;
}

form#reservation div.type-id div label {
	padding: 15px 25px;
	margin-bottom: 10px;
	margin-top: 10px;
	line-height: normal;

	display: flex;
	align-items: center;

}

/*
** input
 */

form#reservation input {
	height: 42px;
}
/*
** select
 */

form#reservation select.form-select {
	--bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
	display: block;
	width: 100%;
	padding: .375rem 2.25rem .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--bs-body-color);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: var(--bs-body-bg);
	background-image: var(--bs-form-select-bg-img),var(--bs-form-select-bg-icon,none);
	background-repeat: no-repeat;
	background-position: right .75rem center;
	background-size: 16px 12px;
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-radius: var(--bs-border-radius);
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	height: 42px;
}

/*
** radio
 */

form#reservation input[type=radio]:checked + label {
	color: #fff;
	background-color: #579BBC;
	border-radius: 5px;
}

/*
** CGV
 */

form#reservation div.cgv {
	margin: 20px 0;
}

form#reservation div.cgv label {
	font-size: smaller;
	padding-left: 1.75em;
}

/*
** Total
 */

form#reservation .total {
	color: #fff;
	background-color: #036faf;
	padding: 10px;
	margin-bottom: 15px;
}

form#reservation .total span {
	float: right;
	font-weight: bold;
	font-size: x-large;
	margin: -5px;
	padding: 0 10px;
}

/*
** autocompletion
 */

.ui-autocomplete-category {
	color: #fff;
	background-color: #036faf;
	padding: 0 10px;
}

/*
** label error
 */
label.error {
	color: crimson;
	font-weight: 800;
}


/*
** spinner
 */
.spinner-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.8);
	z-index: 1050; /* Make sure it is above other elements */
	display: none; /* Initially hidden */
}

/*
** high-season calendar
 */
.calendar > .days-grid > .day.high-season {
	background-color: #fad390;  /* TODO move into a var */
	border: 1px solid var(--color-border-locked);
}
.calendar > .days-grid > .locked.high-season {
	background-color: initial;
}
