
#titlediv {
	margin-bottom: 20px;
	position: relative;
	border: 1px solid #c7c7c7;
	padding: 6px;
	background-color: #fff;
}

div.save-pkmgmt {
	padding: 1.4em 0 0 0;
	text-align: right;
}


input#pkmgmt-title {
	color: #5f5f5f;
	border: none;
	font-weight: bold;
	font-size: 1.5em;
	cursor: pointer;
	background-color: transparent;
	box-shadow: none;
	width: 80%;
}

input#pkmgmt-title.focus {
	color: #3f3f3f;
	border: 1px solid #aaa;
	cursor: text;
	background-color: transparent;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.07);
}

input#pkmgmt-title.mouseover {
	background-color: #ffffdd;
}

input.shortcode {
	width: 100%;
	padding-right: 40px;
}

input, textarea {
	border: 1px solid #dfdfdf;
}

input.wide {
	width: 100%;
}

textarea {
	width: 100%;
}

label.disabled {
	color: #777;
}

div.wide {
	width: 100%;
}

i.darkgray {
	color: darkgray;
	opacity: 1 !important;
}


.fixed .column-title {
	width: 32%;
}

input[readonly].code {
	/*background: #f3f3f3;*/
	/*color: #3f3f3f;*/
}

div.input-container {
	position: relative;
	display: inline-block;
}

/*
** shortcode style
*/

.shortcode-copy {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.shortcode-copy i {
	font-size: 1.5em; /* Adjust the size as needed */
}

.shortcode-copy-message {
	display: none; /* Hidden by default */
	position: absolute;
	top: -20px; /* Adjust based on desired position */
	right: 0;
	background-color: #f0f0f0;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

div.tooltip {
	opacity: 1!important;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 140px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -125px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 80%;
	/*transform: translateX(-25%);*/
	/*margin-left: -5px;*/
	border-width: 3px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

/*
** Password field
*/

.password-container {
	position: relative;
}

.password-input {
	width: 200px;
	padding: 10px 30px 10px 10px;
	font-size: 16px;
}

.password-toggle {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	display: flex;
	align-items: center;
}

fieldset {
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 20px;
	position: relative;
}

legend {
	padding: 0 10px;
	font-weight: bold;
	font-size: 1.2em;
	color: #333;
}

/*
** Booked dates style
*/

.dates-global {
	margin: 0 auto;
	border: 1px solid #ccc;
	padding: 0 0 20px 0;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dates-header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

.dates-header span {
	font-size: 14px;
	font-weight: normal;
	margin-right: 10px;
}

.dates-header button {
	color: #007BFF;
	border: 1px;
	padding: 5px;
	border-radius: 50%;
	width: 27px;
	height: 27px;
	cursor: pointer;
	font-size: 14px;
}

.dates-body {
	min-height: 68px;
	padding-top: 15px;
}

.dates-body .dates-element {
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dates-body .dates-element input[type="text"], .dates-body .dates-element input[type="date"] {
	margin-right: 10px;
}

.dates-body .dates-element input[type="text"] {
	width: 70%;
}

.dates-body .dates-element .fa {
	cursor: pointer;
	margin-left: 10px;
	font-size: 20px;
}

/*
** Tabs
 */

.tabs {
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tab-links {
	list-style: none;
	padding: 0;
	margin: 0 0 20px 0;
	display: flex;
	border-bottom: 1px solid #ddd;
}

.tab-links li {
	margin: 0;
	padding: 0 5px 0 5px ;
	flex: 1;
	transition: background-color 0.3s, color 0.3s;
}

.tab-links a {
	display: block;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	color: #555;
	border-radius: 4px 4px 0 0;
	background: #e0e0e0;
	transition: background-color 0.3s, color 0.3s;
}

.tab-links .active a {
	background: #007bff;
	color: #fff;
	border-bottom: 1px solid #fff;
}

.tab-links li:hover a {
	background: #0056b3;
	color: #fff;
}

.tab {
	display: none;
}

.tab.active {
	display: block;
}


/*
** label error
 */
label.error {
	color: crimson;
	font-weight: 800;
}

.form-check-input, .info-vehicle-type {
	background-repeat: no-repeat !important;
	margin-top: 0 !important;
}
